:root {
  /* App */
  --color-primary-lighter: #9c86f9;
  --color-primary-light: #6f4ef6;
  --color-primary-main: #4b22f4;
  --color-primary-dark: #3417aa;
  --color-secondary-lighter: #d2faf6;
  --color-secondary-light: #49f2d2;
  --color-secondary-main: #0bd4c1;
  --color-secondary-dark: #0b756f;

  /* Colors */
  --color-error: #b41313;
  --color-white: #fff;
  --color-grey-lighter: #fbfbfb;
  --color-grey-light: #eee;
  --color-grey: #ccc;
  --color-grey-dark: #333;
}
